.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
  
    max-width: 648px;
  
    margin: 0;
    padding-bottom: 70px;
    padding-top: 100px;
}