.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  background-color: #f2f2f2;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

.logo {

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

  width: 183px;
  height: 32px;

  background-image: url("../images/logo_place_header.svg");
  background-position: center;
  background-size: cover;
}

.header__title {
  align-self: flex-start;
  position: relative;
  left: 64px;
  z-index: 2;

  width: 730px;

  font-size: 96px;
  font-weight: bold;

  line-height: 102px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;

  width: 388px;

  font-size: 18px;
  font-weight: normal;

  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 765px;
  height: 608px;

  background-image: url(../images/header-image.png);
  background-position: center;
  background-size: cover;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px; 

  height: 568px;
  width: 568px;

  background-color: #2f80ed;

  z-index: 0;
}

.content {
  padding: 100px 0 0 0;
}

.description {
  display: flex;
  flex-direction: column;
}

.two-columns {
  width: 80%;
  align-self: center;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;

  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent{
  font-weight: bold;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
