.khan__buy-link {
    margin: 0;
    padding-left: 48px;

    line-height: 42px;
    font-size: 30px;
    font-weight: normal;

    color: #2f80ed;
    text-decoration: none;
    
    transition: opacity 1s linear 0s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}